:root {
    --bg: #0D1117;
    --bgSoft: #161B22;
    --text: #F0F6FC;
    --textSoft: #8B949E;
  }

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
a{
    color: inherit;
    text-decoration:none;
}