/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/frontend/dashboard/search/search.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__TIYXV {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
  }
  
  .search_input__N5J6F {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
  }
/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/frontend/dashboard/pagination/pagination.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__AZx1k{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .pagination_button__0ylpQ{
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination_button__0ylpQ:disabled{
    cursor: not-allowed;
  }
/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/frontend/dashboard/categories/categories.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.categories_container__5u38W {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.categories_top__877U8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories_addButton__bKdI8 {
  padding: 10px 20px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.categories_addButton__bKdI8:hover {
  background-color: #4a46b5;
  transform: scale(1.05);
}

.categories_addButton__bKdI8:active {
  background-color: #3a358c;
}

.categories_table__uT2tn {
  width: 100%;
}

.categories_table__uT2tn th, .categories_table__uT2tn td {
  padding: 20px;
  text-align: left;
}

.categories_product__HzvRv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categories_productImage__9zbvW {
  border-radius: 50%;
  object-fit: cover;
}

.categories_buttons__qAHJm {
  display: flex;
  gap: 10px;
}

.categories_button__NswI8 {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.categories_view__JeUcr {
  background-color: teal;
}

.categories_delete__9CYQp {
  background-color: crimson;
}


.categories_selectVisibility__Y25Wx {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.categories_selectVisibility__Y25Wx:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}

.categories_selectVisibility__Y25Wx:focus {
  outline: none;
  border-color: #5d57c9;
}

.categories_selectVisibility__Y25Wx option {
  padding: 10px;
  background-color: #fff;
  color: var(--text);
}

